parameters:
  - name: VCPKG_COMMIT
    displayName: VCPKG commit
    type: string
    default: 38e1a6465beeb7b294a584d1c4ec24b2daab2670
    values:
    - master
    - 38e1a6465beeb7b294a584d1c4ec24b2daab2670
    - 2020.06
    - 2020.04
    - 2020.01
    - 2019.12
    - 2019.11
    - 2019.10
    - 2019.09
    - 2019.08
    - 2019.07
    - 2019.06

jobs:
- job: Build
  variables:
    VCPKG_ROOT: '$(Agent.HomeDirectory)/vcpkg'
    VCPKG_REPOSITORY: https://github.com/Microsoft/vcpkg.git
  strategy:
      matrix:
        linux:
          imageName: 'ubuntu-18.04'
          nodeArch: '64'
        mac:
          imageName: 'macos-10.15'
          nodeArch: '64'
        win64:
          imageName: 'vs2017-win2016'
          nodeArch: '64'
          driverArch: 'x64'
        win32:
          imageName: 'vs2017-win2016'
          nodeArch: '32'
          driverArch: 'x86'
  pool:
    vmImage: $(imageName)
  steps:
  - bash: |
      set -o errexit -o pipefail
      sudo apt-get update
      sudo apt-get install ninja-build libudev-dev
    condition: contains(variables['imageName'], 'ubuntu')
    displayName: '[Linux] Install toolchain'
  - bash: |
      # Note that installing gcc@6 will not change `gcc`/`g++` on
      # PATH, and those will still be Apple Clang.
      brew install ninja gcc@6
    condition: contains(variables['imageName'], 'mac')
    displayName: '[MacOS] Install toolchain'
  - bash: |
      choco install -y nvm
    condition: contains(variables['imageName'], 'win')
    displayName: '[Windows] Install toolchain'
  - bash: |
      set -o errexit -o pipefail
      export PATH=$VCPKG_ROOT:$PATH
      git clone $(VCPKG_REPOSITORY) $VCPKG_ROOT
      git -C $VCPKG_ROOT checkout ${{ parameters.VCPKG_COMMIT }}
      CC=gcc-9 CXX=g++-9 $VCPKG_ROOT/bootstrap-vcpkg.sh
      vcpkg install nrf-ble-driver
    condition: contains(variables['imageName'], 'ubuntu')
    displayName: '[Linux] Install nrf-ble-driver'
  - bash: |
      set -o errexit -o pipefail
      export PATH=$VCPKG_ROOT:$PATH
      git clone $(VCPKG_REPOSITORY) $VCPKG_ROOT
      git -C $VCPKG_ROOT checkout ${{ parameters.VCPKG_COMMIT }}
      # Vcpkg bootstap does not work with Apple Clang and it
      # refuses to use it. Explicitly point it to the GCC
      # installed in the "Install toolchain" in CC/CXX.
      CC=gcc-9 CXX=g++-9 $VCPKG_ROOT/bootstrap-vcpkg.sh
      vcpkg install nrf-ble-driver
    condition: contains(variables['imageName'], 'mac')
    displayName: '[MacOS] Install nrf-ble-driver'
  - script: |
      set VCPKG_ROOT=$(Agent.HomeDirectory)\vcpkg
      set PATH=%VCPKG_ROOT%;%PATH%
      git clone $(VCPKG_REPOSITORY) %VCPKG_ROOT%
      git -C %VCPKG_ROOT% checkout ${{ parameters.VCPKG_COMMIT }}
      %VCPKG_ROOT%\bootstrap-vcpkg.bat
    condition: contains(variables['imageName'], 'win')
    displayName: '[Windows] Install vcpkg'
  - script: |
      set VCPKG_ROOT=$(Agent.HomeDirectory)\vcpkg
      set PATH=%VCPKG_ROOT%;%PATH%
      vcpkg install nrf-ble-driver:$(driverArch)-windows
    condition: contains(variables['imageName'], 'win')
    displayName: '[Windows] Install nrf-ble-driver'
  - template: azure-node.yml
    parameters:
      nodeVersion: 8.15.0
      nodeArch: $(nodeArch)
      npmConfigRuntime: 'node'
      npmConfigTarget: 8.15.0
  - template: azure-node.yml
    parameters:
      nodeVersion: 10.15.0
      nodeArch: $(nodeArch)
      # Specifing the target in npm config because it seems
      # necessary for npm package-prebuild on win32
      npmConfigRuntime: 'node'
      npmConfigTarget: 10.15.0
  - template: azure-node.yml
    parameters:
      nodeVersion: 11.14.0
      nodeArch: $(nodeArch)
      npmConfigRuntime: 'node'
      npmConfigTarget: 11.14.0
  - template: azure-node.yml
    parameters:
      nodeVersion: 12.16.1
      nodeArch: $(nodeArch)
      npmConfigRuntime: 'node'
      npmConfigTarget: 12.16.1
  - template: azure-node.yml
    parameters:
      nodeVersion: 13.12.0
      nodeArch: $(nodeArch)
      npmConfigRuntime: 'node'
      npmConfigTarget: 13.12.0
  - template: azure-node.yml
    parameters:
      nodeVersion: 14.16.0
      nodeArch: $(nodeArch)
      npmConfigRuntime: 'node'
      npmConfigTarget: 14.16.0
  - template: azure-node.yml
    parameters:
      nodeVersion: 12.16.1
      nodeArch: $(nodeArch)
      npmConfigRuntime: 'electron'
      npmConfigTarget: 5.0.6
  - template: azure-node.yml
    parameters:
      nodeVersion: 12.16.1
      nodeArch: $(nodeArch)
      npmConfigRuntime: 'electron'
      npmConfigTarget: 7.2.0
  - template: azure-node.yml
    parameters:
      nodeVersion: 12.16.1
      nodeArch: $(nodeArch)
      npmConfigRuntime: 'electron'
      npmConfigTarget: 8.2.0
  - template: azure-node.yml
    parameters:
      nodeVersion: 12.16.1
      nodeArch: $(nodeArch)
      npmConfigRuntime: 'electron'
      npmConfigTarget: 9.0.3
  - template: azure-node.yml
    parameters:
      nodeVersion: 14.16.0
      nodeArch: $(nodeArch)
      npmConfigRuntime: 'electron'
      npmConfigTarget: 13.1.9

  - task: PublishPipelineArtifact@1
    inputs:
      path: $(Build.ArtifactStagingDirectory)
    displayName: 'Publish artifacts'

- job: GitHubRelease
  dependsOn: Build
  steps:
  - checkout: none
  - task: DownloadPipelineArtifact@2
    inputs:
      patterns: '**/*.tar.gz'
      path: $(Build.ArtifactStagingDirectory)
    displayName: 'Download artifacts'
  - bash: |
      mv $(Build.ArtifactStagingDirectory)/*/* $(Build.ArtifactStagingDirectory)
    displayName: 'Move files'
  - task: GitHubRelease@0
    inputs:
      gitHubConnection: 'waylandCI'
      repositoryName: 'NordicSemiconductor/pc-ble-driver-js'
      action: 'edit'
      tagSource: 'Git tag'
      tag: '$(Build.SourceBranchName)'
      assetUploadMode: 'replace'
      isDraft: 'true'
      addChangeLog: 'false'
    condition: ne(variables['Build.Reason'], 'PullRequest')

- job: Test
  dependsOn: GitHubRelease
  strategy:
    matrix:
      linux:
        osType: 'linux'
      mac:
        osType: 'mac'
      win64:
        osType: 'win64'
      win32:
        osType: 'win32'
  pool: server
  steps:
  - task: InvokeRESTAPI@1
    displayName: Test
    inputs:
      connectionType: 'connectedServiceName'
      serviceConnection: 'waylandJenkins'
      method: 'POST'
      urlSuffix: 'view/pc-ble-driver-js/job/pc-ble-driver-js-$(osType)/buildWithParameters?BRANCH=$(Build.SourceBranch)&VSTS_URL=$(system.CollectionUri)&TOKEN=$(system.AccessToken)&PROJECT_ID=$(system.teamProjectId)&HUB_NAME=$(system.hostType)&PLAN_ID=$(system.planId)&TASK_ID=$(system.taskInstanceId)&JOB_ID=$(system.jobId)'
      waitForCompletion: 'true'
    condition: ne(variables['Build.Reason'], 'PullRequest')
